#forkme_banner {
    display:block;
    position: fixed;
    top:0;
    right: 50px;
    z-index:10;
    padding:10px 50px 10px 10px;
    color:#fff;
    background:url("../assets/img/blacktocat.png") #0090ff no-repeat 95% 50%;
    font-weight:700;
    box-shadow:0 0 10px rgba(0,0,0,0.5);
    border-bottom-left-radius:2px;
    border-bottom-right-radius:2px;
   }


.results .results-pdf {
    padding: 3rem;
    float: right;
    /* border: 3px solid #73AD21; */
}

.results .results-stats {
    padding: 3rem;
    float: left;
    text-align: center;
    /* border: 3px solid #c2c036; */
}

.results-img-page {
    max-width: 17rem;
    background-size: cover;
    float: right;
    border: 3px solid #9a2424;
}

@media (min-width: 768px) {
    .results .results-pdf {
        /* border: 3px solid #7827bb; */
    }
}

/* https://www.vecteezy.com/vector-art/12280475-background-technology-artificial-intelligence-mechanica */
/* https://www.vecteezy.com/vector-art/7024701-technology-artificial-intelligence-mechanical */
/* https://www.vecteezy.com/vector-art/4242991-abstract-technology-futuristic-digital-concept-dot-pattern-with-lighting-glowing-particles-square-elements-on-dark-blue-background */
/* https://www.vecteezy.com/vector-art/6430144-hi-technology-line-circuit-board-design-background-with-dark-blue */

/* Cite this is on imprint page: */
/* https://freeicons.io/business-34/contract-signature-agreement-document-signed-icon-452943
https://freeicons.io/university-2/research-analysis-document-paper-icon-134315
https://freeicons.io/office-and-business-3/binders-files-office-file-document-icon-111904 */
/* https://freeicons.io/basic-symbol/gear-services-gears-preferences-settings-icon-38524 */
/* https://support.freeicons.io/faq-How-to-attribute */
/* https://www.flaticon.com/free-icon/quotes_8895521?term=citation&page=1&position=7&page=1&position=7&related_id=8895521&origin=search */
/* https://www.flaticon.com/free-icon/technical-drawing_2558125?term=drawing&page=1&position=13&page=1&position=13&related_id=2558125&origin=style */
/* https://www.flaticon.com/free-icon/battery_5821663?related_id=5821663&origin=search */
/* https://www.flaticon.com/free-icon/cooperation_8869187?related_id=8869187&origin=search */

@keyframes ldio-dj66gl9h8u6 {
  0% { opacity: 1 }
  100% { opacity: 0 }
}
.ldio-dj66gl9h8u6 div {
  left: 0px;
  top: 0px;
  position: absolute;
  animation: ldio-dj66gl9h8u6 linear 1s infinite;
  background: #0a0a0a;
  width: 14px;
  height: 24px;
  border-radius: 7px / 12px;
  transform-origin: 7px 52px;
}.ldio-dj66gl9h8u6 div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -0.9166666666666666s;
  background: #0a0a0a;
}.ldio-dj66gl9h8u6 div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -0.8333333333333334s;
  background: #0a0a0a;
}.ldio-dj66gl9h8u6 div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.75s;
  background: #0a0a0a;
}.ldio-dj66gl9h8u6 div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.6666666666666666s;
  background: #0a0a0a;
}.ldio-dj66gl9h8u6 div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.5833333333333334s;
  background: #0a0a0a;
}.ldio-dj66gl9h8u6 div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.5s;
  background: #0a0a0a;
}.ldio-dj66gl9h8u6 div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.4166666666666667s;
  background: #0a0a0a;
}.ldio-dj66gl9h8u6 div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.3333333333333333s;
  background: #0a0a0a;
}.ldio-dj66gl9h8u6 div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.25s;
  background: #0a0a0a;
}.ldio-dj66gl9h8u6 div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.16666666666666666s;
  background: #0a0a0a;
}.ldio-dj66gl9h8u6 div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.08333333333333333s;
  background: #0a0a0a;
}.ldio-dj66gl9h8u6 div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
  background: #0a0a0a;
}
.loadingio-spinner-spinner-eyo7v6dty4i {
  width: 100px;
  height: 100px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.ldio-dj66gl9h8u6 {
  height: 100%;
  transform: translateZ(0) scale(0.69);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-dj66gl9h8u6 div { box-sizing: content-box; }
/* generated by https://loading.io/ */


.display-non{
    display: none !important;
  }

.dataTables_wrapper {
  padding: 60px;
}